* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#App {
    max-width: 500px;
    margin: 3rem auto;
    text-align: center;
}

input[type="text"] {
    padding: 10px 15px;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
}

input[type="text"]:focus {
    outline: 0;
    
}

